.CardSize {
    min-height: 530px;
    max-height: 530px;
}

.CardSize Img {
    min-height: 250px;
    max-height: 250px;
}

.Title i, .JoinCount {
    float: right;
    padding: 0 5px;
}

.Description, .Title {
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.Name {
    max-width: 60%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inline-flex;
}

.EventFontSize, .EventFontSize i {
    font-size: 15px;
}

.EventFontSize i {
    margin-bottom: 4px;
}

.Join {
    color: #008080;
}
  
.Join:hover {
    color: #008080;
}
  
.JoinOutline:hover {
    color: #008080;
}