.CardSize {
    min-height: 450px;
}

.CardSize Img {
    min-height: 250px;
    max-height: 250px;
}

.Title i, .JoinCount, .DropDown {
    float: right;
    padding: 0 5px;
}

.Description, .WebsiteLink {
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.Name {
    max-width: 70%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inline-flex;
}

.TitleLine {
    max-width: 70%;
    display: inline-flex;
}

.EventFontSize, .EventFontSize i {
    font-size: 15px;
}

.EventFontSize i {
    margin-bottom: 4px;
}

.Join {
    color: #008080;
}
  
.Join:hover, .WebsiteLink:hover {
    color: #008080;
}
  
.JoinOutline:hover {
    color: #008080;
}

@media screen and (max-width: 991px) {
    .TitleLine {
        max-width: 90%;
    }
}

@media screen and (max-width: 500px) {
    .TitleLine {
        font-size: 12px;
    }

    .Title {
        margin-bottom: 30px;
    }
}